<div class="row justify-content-center">
    <section class="col-12 col-md-8 col-lg-6 align-self-center" id="js-login-block">
        <h2 class="mb-3">Login</h2>
        <form id="js-login-form">
            <div class="mb-3">
                <label class="form-label" for="login-email">Email:</label>
                <input class="form-control" type="email" id="login-email" name="email" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="login-password">Password:</label>
                <input class="form-control" type="password" id="login-password" name="password" required />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Login</button>
                <button class="btn btn-link js-block-toggle" type="button">Signup instead</button>
            </div>
        </form>
    </section>
</div>
<div class="row justify-content-center">
    <section class="col-12 col-md-8 col-lg-6 align-self-center d-none" id="js-signup-block">
        <h2 class="mb-3">Sign Up</h2>
        <form id="js-signup-form">
            <div class="mb-3">
                <label class="form-label" for="signup-name">Username:</label>
                <input class="form-control" type="text" id="signup-name" name="name" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="signup-email">Email:</label>
                <input class="form-control" type="email" id="signup-email" name="email" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="signup-password">Password:</label>
                <input class="form-control" type="password" id="signup-password" name="password" required />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Signup</button>
                <button class="btn btn-link js-block-toggle" type="button">Login instead</button>
            </div>
        </form>
    </section>
</div>

<script src="/js/login.js"></script>
